### Script for function to pull vitals data

This function loads chart events (specified by user-entered ID) into a dataframe, filters events by ventilataed patients, determines the last reading before extubation, takes the mean of this value for any duplicate readings (happens when multiple sensors used simultanrously) and returns the data as a column in the master dataframe

#### impot useful libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### user-defined variables that change every time

In [2]:
event = "sodium"
data_dir = "../data/feathered/"
export_dir = "../data/processed/"

datafile = data_dir+event
mean_export_file = export_dir+event
std_export_file = export_dir+"std_"+event
meanColumns = ['hadm_id',event]
stdColumns = ['hadm_id','std_'+event]

In [3]:
df = pd.read_feather(datafile)
df['valuenum']= pd.to_numeric(df['valuenum'])

In [4]:
# to convert fahrenheit to celcius: (F-32) x 5/9
#df['valuenum'] = np.where(df['itemid']==223761,(df['valuenum']-32)*(5/9),df['valuenum'])

In [5]:
# convert height in cm to inches- divide by 2.74
#df['valuenum'] = np.where(df['itemid']==226730,(df['valuenum']/2.54),df['valuenum'])

In [6]:
df[df['hadm_id']==27317316]

,index,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent
523,523,10254097,27317316,35596154,2138-11-01 10:06:00,2138-11-01 11:09:00,220645,138,138,mEq/L,0,2138-11-06 09:52:00,0,120.86667
525,525,10254097,27317316,35596154,2138-11-06 00:05:00,2138-11-06 00:45:00,220645,146,146,mEq/L,0,2138-11-06 09:52:00,0,120.86667
526,526,10254097,27317316,35596154,2138-11-04 01:07:00,2138-11-04 02:08:00,220645,149,149,mEq/L,1,2138-11-06 09:52:00,0,120.86667
527,527,10254097,27317316,35596154,2138-11-04 17:45:00,2138-11-04 18:33:00,220645,150,150,mEq/L,1,2138-11-06 09:52:00,0,120.86667
528,528,10254097,27317316,35596154,2138-11-05 00:05:00,2138-11-05 01:34:00,220645,150,150,mEq/L,1,2138-11-06 09:52:00,0,120.86667
529,529,10254097,27317316,35596154,2138-11-05 05:49:00,2138-11-05 06:52:00,220645,148,148,mEq/L,1,2138-11-06 09:52:00,0,120.86667
530,530,10254097,27317316,35596154,2138-11-05 17:00:00,2138-11-05 18:13:00,220645,144,144,mEq/L,0,2138-11-06 09:52:00,0,120.86667
531,531,10254097,27317316,35596154,2138-11-01 12:58:00,2138-11-01 13:02:00,226534,136,136,mEq/L,0,2138-11-06 09:52:00,0,120.86667
532,532,10254097,27317316,35596154,2138-11-01 14:04:00,2138-11-01 14:07:00,226534,137,137,mEq/L,0,2138-11-06 09:52:00,0,120.86667
533,533,10254097,27317316,35596154,2138-11-02 00:45:00,2138-11-02 01:35:00,220645,142,142,mEq/L,0,2138-11-06 09:52:00,0,120.86667
534,534,10254097,27317316,35596154,2138-11-03 03:40:00,2138-11-03 04:54:00,220645,149,149,mEq/L,1,2138-11-06 09:52:00,0,120.86667
537,537,10254097,27317316,35596154,2138-11-07 00:05:00,2138-11-07 00:46:00,220645,145,145,mEq/L,0,2138-11-06 09:52:00,0,120.86667

#### Convert times to pandas datetime object, find the time difference between each event and the time of extubation ('endtime') and find the last time an event occurred before extubation

In [7]:
df['endtime'] = pd.to_datetime(df['endtime'])
df['charttime'] = pd.to_datetime(df['charttime'])
df['time_diff']= df['endtime']-df['charttime']

In [8]:
df['timediffhour'] = df['time_diff'] / np.timedelta64(1, 'h') # convert time to hours
df_pre = df.copy()
df_pre = df[df['timediffhour']>0 & (df['timediffhour']<2)]

In [9]:
df_pre['min']=df_pre.groupby('hadm_id')['timediffhour'].transform('min') # find the last reading 
            # time before extubation occured and place in a new channel ('min')

<ipython-input-9-1f0533c03414>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pre['min']=df_pre.groupby('hadm_id')['timediffhour'].transform('min') # find the last reading

In [10]:
last_value_pre = df_pre[df_pre['timediffhour'] == df_pre['min']] 
            # select only rows where 'timediffhour' is the same as the minimum time ('min')

In [11]:
last_value_pre

,index,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent,time_diff,timediffhour,min
14,14,10004235,24181354,30276431,2196-02-27 16:00:00,2196-02-27 16:59:00,220645,134,134,mEq/L,0,2196-02-27 16:28:00,0,71.600000,0 days 00:28:00,0.466667,0.466667
24,24,10005348,25239799,31523640,2130-10-28 04:01:00,2130-10-28 04:57:00,220645,136,136,mEq/L,0,2130-10-28 04:35:00,0,11.833333,0 days 00:34:00,0.566667,0.566667
28,28,10019003,27525946,30460871,2153-04-14 02:56:00,2153-04-14 04:08:00,220645,142,142,mEq/L,0,2153-04-14 17:50:00,0,22.066668,0 days 14:54:00,14.900000,14.900000
66,66,10035631,29276678,35275147,2116-03-09 12:35:00,2116-03-09 14:22:00,220645,135,135,mEq/L,0,2116-03-09 18:11:00,0,217.983340,0 days 05:36:00,5.600000,5.600000
76,76,10035747,27083519,39236053,2126-05-15 01:39:00,2126-05-15 02:19:00,220645,140,140,mEq/L,0,2126-05-15 13:00:00,0,143.000000,0 days 11:21:00,11.350000,11.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205607,205607,19965610,28545396,30691619,2125-09-27 23:40:00,2125-09-28 00:35:00,220645,138,138,mEq/L,0,2125-09-28 12:51:00,0,52.733334,0 days 13:11:00,13.183333,13.183333
205615,205615,19970491,22119205,30220330,2131-02-13 02:17:00,2131-02-13 03:16:00,220645,140,140,mEq/L,0,2131-02-13 09:17:00,0,48.733334,0 days 07:00:00,7.000000,7.000000
205619,205619,19970491,20897702,32207420,2131-05-11 12:03:00,2131-05-11 13:35:00,220645,139,139,mEq/L,0,2131-05-11 21:22:00,0,25.366667,0 days 09:19:00,9.316667,9.316667
205632,205632,19970491,29133530,38263194,2132-04-28 01:55:00,2132-04-28 02:41:00,220645,141,141,mEq/L,0,2132-04-28 12:19:00,0,90.316666,0 days 10:24:00,10.400000,10.400000
205634,205634,19999068,21606769,31096823,2161-08-28 04:00:00,2161-08-28 04:53:00,220645,145,145,mEq/L,0,2161-08-28 13:36:00,0,70.016670,0 days 09:36:00,9.600000,9.600000

In [12]:
avg_dupValues = last_value_pre.groupby('hadm_id')['valuenum'].mean() # where duplicate values exist,take the mean
meanBP = avg_dupValues.reset_index()
meanBP.columns = (meanColumns)

In [13]:
svents = pd.read_csv(export_dir +'sample_vents.csv')
mean_df = pd.merge(left = svents, right=meanBP, how = 'left', left_on='hadm_id', right_on='hadm_id')

In [14]:
mean_df

,hadm_id,endtime,time_on_vent,re_intub_class,subject_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag,hours_to_death,sodium
0,28038802,2185-12-20 09:59:00,108.800000,0,18917458,2185-12-15 00:17:00,2185-12-22 17:15:00,NaN,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,MARRIED,WHITE,2185-12-14 23:05:00,2185-12-15 01:31:00,0,NaN,142.0
1,21790335,2140-03-11 13:44:00,33.000000,0,19704964,2140-03-09 14:44:00,2140-03-15 13:00:00,NaN,URGENT,PHYSICIAN REFERRAL,HOME,Other,?,MARRIED,UNABLE TO OBTAIN,NaN,NaN,0,NaN,135.0
2,24357541,2177-02-10 14:00:00,659.416667,0,19004463,2176-12-16 18:11:00,2177-02-15 17:00:00,NaN,URGENT,TRANSFER FROM HOSPITAL,REHAB,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0,NaN,142.0
3,22188993,2145-11-04 18:40:00,143.666667,0,11538389,2145-10-29 12:46:00,2145-11-09 17:30:00,2145-11-09 17:30:00,EW EMER.,EMERGENCY ROOM,DIED,Medicare,ENGLISH,MARRIED,UNKNOWN,2145-10-29 11:07:00,2145-10-29 14:00:00,1,-118.833333,135.0
4,21880799,2134-05-22 17:58:00,54.966667,0,16606203,2134-05-20 09:51:00,2134-05-22 18:00:00,NaN,EW EMER.,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,?,MARRIED,HISPANIC/LATINO,2134-05-20 06:11:00,2134-05-20 11:15:00,0,NaN,144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16399,29960248,2146-12-09 14:23:00,73.466667,1,16691924,2146-11-30 16:09:00,2146-12-17 17:04:00,NaN,DIRECT EMER.,CLINIC REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,WIDOWED,WHITE,NaN,NaN,0,NaN,131.0
16400,29962016,2135-10-30 11:45:00,218.083333,1,16796371,2135-10-21 08:16:00,2135-11-04 13:30:00,NaN,EW EMER.,EMERGENCY ROOM,REHAB,Medicare,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2135-10-21 05:47:00,2135-10-21 09:45:00,0,NaN,142.0
16401,29974575,2131-03-03 19:54:00,98.900000,1,10020944,2131-02-27 15:34:00,2131-03-13 17:01:00,NaN,EW EMER.,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,NaN,UNKNOWN,2131-02-27 13:16:00,2131-02-27 16:40:00,0,NaN,138.0
16402,29987115,2148-02-19 10:00:00,44.000000,1,19652570,2148-02-16 17:42:00,2148-02-20 19:00:00,2148-02-20 19:00:00,URGENT,TRANSFER FROM HOSPITAL,DIED,Other,ENGLISH,NaN,UNKNOWN,NaN,NaN,1,-33.000000,144.0
16403,29995768,2178-05-17 21:57:00,26.950000,1,19181803,2178-05-16 18:46:00,2178-05-17 16:15:00,NaN,EW EMER.,EMERGENCY ROOM,DIED,Other,ENGLISH,MARRIED,WHITE,2178-05-16 14:43:00,2178-05-16 19:42:00,0,NaN,154.0

In [15]:
mean_df.to_feather(mean_export_file)

In [16]:
#num_ventilations = last_value_pre['hadm_id'].value_counts()
#svdf = last_value_pre[last_value_pre['hadm_id'].isin(num_ventilations.index[num_ventilations ==2])]
#sns.countplot(svdf['valuenum'])

### Getting variability over last 6 hours

In [17]:
df_var = df.copy()
df_var = df[(df['timediffhour']>0)&(df['timediffhour']<6)]

varBP = df_var.groupby('hadm_id')['valuenum'].std()
varBP = varBP.reset_index()
varBP.columns = (stdColumns)

In [18]:
df_var['itemid'].value_counts()

220645    5979
226534     629
Name: itemid, dtype: int64

In [19]:
#plt.hist(merged_inner_var['timediffhour'])

In [20]:
std_df = pd.merge(left = svents, right=varBP, how = 'left', left_on='hadm_id', right_on='hadm_id')

In [21]:
#std_df[std_df['std_pulseox']==0]

In [22]:
#df_pre[df_pre['hadm_id']==21880799]

In [23]:
std_df.to_feather(std_export_file)

new_df = pd.merge(left = svents, right=meanBP, how = 'left', left_on='hadm_id', right_on='hadm_id')
new_df

new_df = pd.merge(left = new_df, right=varBP, how = 'left', left_on='hadm_id', right_on='hadm_id')
new_df

new_df.drop(['temp','stdTemp'],axis=1,inplace=True)

new_df.to_csv('feature_table.csv',index= False)