## Script to get clean feature table vefore passing to model

Cleaned feature table saved as 'clean_ft_table.csv'

#### import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

#### get feature library

In [3]:
df = pd.read_feather('../data/processed/gender')

In [4]:
df_master = df.copy()

In [5]:
# select only useful columns for master dataframe
df_master=df_master[['hadm_id', 'endtime', 'time_on_vent', 're_intub_class',
                     'gender','admission_type','anchor_age']]

#### load each feature and merge with df_master on hadm_id

In [6]:
# all feature names are the same as the feature column so we can find the name of all features in
# the 'selected_features' directory, load each feature in turn, select only the relevant columns and merge these 
# with df_master on 'hadm_id'
dirList= os.listdir('../data/processed/selected_features')
filename = []

for fname in dirList:
    feature = np.append(filename, fname)
    feature_table = pd.read_feather('../data/processed/selected_features/'+fname)
    feature_columns = feature_table[['hadm_id',fname]]
    df_master = pd.merge(left = df_master, right = feature_columns, 
                     how='left', left_on = 'hadm_id',right_on = 'hadm_id')

In [7]:
df_master

,hadm_id,endtime,time_on_vent,re_intub_class,gender,admission_type,anchor_age,spontrr,heartrate,std_spontrr,...,height,lactic_acid,bnp,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox,std_temp
0,28038802,2185-12-20 09:59:00,108.800000,0,M,EW EMER.,71,17.0,87.0,5.560918,...,NaN,0.7,NaN,12.6,6.6,568.0,36.555556,10.830303,88.0,0.274986
1,21790335,2140-03-11 13:44:00,33.000000,0,F,URGENT,34,13.0,78.0,0.447214,...,NaN,2.9,NaN,9.1,10.5,578.0,36.888889,1.923538,92.0,NaN
2,24357541,2177-02-10 14:00:00,659.416667,0,F,URGENT,70,0.0,127.0,11.631239,...,59.027559,0.8,48581.0,8.5,8.4,0.0,37.500000,7.120393,94.0,NaN
3,22188993,2145-11-04 18:40:00,143.666667,0,M,EW EMER.,68,27.0,95.0,0.726483,...,74.007874,1.8,NaN,11.0,5.4,594.0,37.388889,3.669696,98.0,NaN
4,21880799,2134-05-22 17:58:00,54.966667,0,M,EW EMER.,52,24.0,100.0,9.227289,...,66.070866,1.0,NaN,7.8,8.4,500.0,36.555556,NaN,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16399,29960248,2146-12-09 14:23:00,73.466667,1,F,DIRECT EMER.,65,13.0,94.0,1.863525,...,61.011811,1.0,NaN,10.3,18.6,519.0,37.055556,3.761299,96.0,NaN
16400,29962016,2135-10-30 11:45:00,218.083333,1,F,EW EMER.,53,17.0,80.0,1.772811,...,64.086614,1.4,NaN,9.0,10.7,308.0,36.888889,12.378938,100.0,NaN
16401,29974575,2131-03-03 19:54:00,98.900000,1,M,EW EMER.,72,21.0,71.0,8.952254,...,70.039370,0.8,NaN,10.0,6.0,447.0,36.888889,296.433466,100.0,NaN
16402,29987115,2148-02-19 10:00:00,44.000000,1,F,URGENT,43,12.0,88.0,4.527693,...,59.921260,1.1,NaN,9.0,6.5,594.0,36.722222,7.949843,99.0,NaN
16403,29995768,2178-05-17 21:57:00,26.950000,1,F,EW EMER.,58,20.0,96.0,7.559289,...,NaN,2.3,125.0,13.0,14.3,519.0,3.000000,9.497368,99.0,NaN

#### select only patients that were intubated for longer than 6 hours 

To get rid of all the following warnings, sHould change this to the df.where df.copy together? https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#the-where-method-and-masking

In [14]:
df6 = df_master.copy()
#df6 = df_master[(df_master['time_on_vent']>6)]
df6 = df_master[['hadm_id', 'endtime', 'time_on_vent', 're_intub_class', 'gender',
       'admission_type', 'anchor_age', 'heartrate',
       'weight',  'hco3', 
        'std_pulseox', 'std_heartrate',
       'creatinine', 'std_tidalvolume', 'bun',  'height',
       'tidalvolume', 'temp',
       'std_bloodpressure']]

In [15]:
df6.columns

Index(['hadm_id', 'endtime', 'time_on_vent', 're_intub_class', 'gender',
       'admission_type', 'anchor_age', 'heartrate', 'weight', 'hco3',
       'std_pulseox', 'std_heartrate', 'creatinine', 'std_tidalvolume', 'bun',
       'height', 'tidalvolume', 'temp', 'std_bloodpressure'],
      dtype='object')

In [16]:
df6.isnull().sum()

hadm_id                 0
endtime                 0
time_on_vent            0
re_intub_class          0
gender                  0
admission_type          0
anchor_age              0
heartrate               1
weight               2949
hco3                  165
std_pulseox           103
std_heartrate          79
creatinine            162
std_tidalvolume      9182
bun                   162
height               4108
tidalvolume            31
temp                 2081
std_bloodpressure     117
dtype: int64

In [ ]:
df6.dropna(subset = ['std_bloodpressure'],inplace=True)
df6.dropna(subset = ['std_spontrr'],inplace=True)
df6.dropna(subset = ['temp'],inplace=True)
df6.dropna(subset = ['std_pulseox'],inplace=True)
df6.dropna(subset = ['std_heartrate'],inplace=True)
df6.dropna(subset = ['weight'],inplace=True)
df6.dropna(subset = ['height'],inplace=True)
df6.dropna(subset = ['tidalvolume'],inplace=True)

In [ ]:
df6.dropna(subset = ['abg_po2'],inplace=True)
df6.dropna(subset = ['lactic_acid'],inplace=True)
df6.dropna(subset = ['wbg'],inplace=True)
df6.dropna(subset = ['hco3'],inplace=True)
df6.dropna(subset = ['bun'],inplace=True)

In [ ]:
df6.isnull().sum()

In [ ]:
df6.drop(['std_temp','std_tidalvolume','bnp','vbg_ph','vbg_pco2'],axis=1,inplace=True)

In [ ]:
df6[df6['re_intub_class']==1]

In [ ]:
df6.describe()

#### tidal volume should be below 2000, weight shoule be above 80

In [ ]:
df6.drop(df6[(df6['tidalvolume'] > 2000)|(df6['tidalvolume'] < 100)].index, inplace = True)

In [ ]:
df6.drop(df6[df6['weight'] < 50].index, inplace = True)

In [ ]:
df6['admission_type'].value_counts()

In [ ]:
df6.drop(df6.loc[df6['admission_type']=='DIRECT OBSERVATION'].index, inplace=True)
df6.drop(df6.loc[df6['admission_type']=='EU OBSERVATION'].index, inplace=True)
df6.drop(df6.loc[df6['admission_type']=='SURGICAL SAME DAY ADMISSION'].index, inplace=True)

In [ ]:
df6.reset_index(inplace=True)

In [ ]:
df6.drop('index',axis=1,inplace=True)

In [ ]:
df6

In [ ]:
df6.to_feather('../data/processed/clean_ft_table_labs')

In [ ]:
#adm_type=pd.get_dummies(df6['admission_type'],drop_first=True,prefix='adm_type')

don't include ethnicity in model (yet), also don't include admission location in model

In [ ]:
#gender =pd.get_dummies(df6['gender'],drop_first=True,prefix = 'gender')

In [ ]:
#df_for_model = pd.concat([df6,adm_type,gender],axis=1)

In [ ]:
#df_for_model.drop(['hadm_id','admission_type','admission_location','ethnicity','gender'],axis=1,inplace=True)

In [ ]:
#df_for_model

In [ ]:
#df_for_model.to_csv('clean_ft_table.csv',index=False)