## Getting age and sex data

#### import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### get feature dataset

In [2]:
df = pd.read_csv('all_feature_table.csv')

#### load patient dataset containing age and sex

In [4]:
patients = pd.read_csv('patients.csv')

#### get only patients who have been ventilalted from patient data set

In [7]:
ids = df['subject_id']
vented_patients = patients[patients['subject_id'].isin(ids)]

In [8]:
vented_patients

        subject_id gender  anchor_age  anchor_year anchor_year_group  dod
7675      10003700      F          27         2162       2008 - 2010  NaN
7677      10004235      M          47         2196       2014 - 2016  NaN
7684      10005348      M          76         2128       2011 - 2013  NaN
7696      10009035      M          28         2161       2011 - 2013  NaN
7731      10019003      F          65         2148       2011 - 2013  NaN
...            ...    ...         ...          ...               ...  ...
383086    19970491      M          55         2129       2008 - 2010  NaN
383122    19978774      M          53         2128       2008 - 2010  NaN
383148    19984270      M          72         2185       2008 - 2010  NaN
383210    19997448      F          52         2121       2014 - 2016  NaN
383217    19999068      M          63         2161       2011 - 2013  NaN

[19801 rows x 6 columns]

In [41]:
dup_hadms = df['subject_id'].value_counts()

In [26]:
dup_hadms

13463515    1
18092322    1
16403020    1
19573328    1
12395089    1
           ..
14652380    1
16076051    1
11500821    1
17964313    1
16551938    1
Name: subject_id, Length: 19801, dtype: int64

In [55]:
df[df['subject_id'].isin(dup_hadms.index[dup_hadms >10])]

,hadm_id,endtime_x,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,stdTemp,...,height,time_on_vent,re_intub_class,subject_id,admittime,deathtime,admission_type,admission_location,marital_status,ethnicity
8228,27235018,2154-01-24 17:16:00,18.5,7.569676,81.0,2.429972,98.0,0.894427,37.333333,0.000000,...,59.921260,3.879444,0,12606543,2154-01-14 23:09:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8233,25854102,2154-01-29 05:20:00,20.0,5.600595,70.0,1.380131,93.0,1.549193,36.944444,0.039284,...,59.921260,1.022222,0,12606543,2154-01-26 13:50:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8308,24846597,2154-05-25 13:02:00,17.0,4.277850,74.0,2.049390,96.0,1.643168,37.111111,NaN,...,59.921260,0.591389,0,12606543,2154-05-20 20:10:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8325,20377647,2154-06-18 22:01:00,19.0,2.217356,65.0,0.957427,93.0,2.516611,36.444444,NaN,...,NaN,0.791944,0,12606543,2154-06-16 20:26:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8336,27823598,2154-07-02 18:06:00,23.0,4.242641,73.0,2.380476,88.0,3.201562,36.722222,NaN,...,NaN,0.828889,0,12606543,2154-06-30 14:37:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8459,20171304,2155-01-21 16:16:00,18.0,7.529940,59.0,2.167948,99.0,1.643168,36.944444,NaN,...,61.011811,0.417500,0,12606543,2155-01-20 03:48:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8659,26428238,2155-12-24 11:52:00,23.0,13.794927,74.0,5.741661,92.0,3.011091,36.722222,NaN,...,NaN,0.325833,0,12606543,2155-12-23 14:34:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8662,23041018,2156-01-07 17:23:00,28.0,11.818065,62.0,5.259911,97.0,0.500000,36.777778,NaN,...,59.921260,3.880000,0,12606543,2155-12-27 17:44:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8787,25922225,2156-07-02 06:30:00,22.0,12.755391,89.0,5.407226,95.0,0.894427,36.666667,0.196419,...,NaN,0.116667,0,12606543,2156-07-01 20:18:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
8864,21200268,2156-10-20 16:54:00,20.0,30.283109,73.0,1.673320,91.0,4.535049,37.055556,NaN,...,NaN,0.318333,0,12606543,2156-10-19 17:59:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
9027,25430440,2157-06-11 19:37:00,21.0,NaN,72.0,NaN,96.0,NaN,36.722222,NaN,...,59.921260,1.920000,0,12606543,2157-06-06 10:59:00,NaN,DIRECT EMER.,PHYSICIAN REFERRAL,SINGLE,BLACK/AFRICAN AMERICAN
9140,23240348,2157-12-18 18:05:00,18.0,12.601587,56.0,2.732520,98.0,1.581139,36.722222,NaN,...,59.921260,10.276389,0,12606543,2157-11-22 23:05:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN
21613,29745972,2155-05-19 07:00:00,23.0,4.774935,59.0,0.836660,92.0,2.701851,36.666667,NaN,...,NaN,1.039722,1,12606543,2155-05-15 01:45:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN

#### join age and gender to main feature table and save to .csv

In [56]:
new_df = pd.merge(left = df, right=vented_patients, how = 'left', left_on='subject_id', right_on='subject_id')

In [60]:
new_df

,hadm_id,endtime_x,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,stdTemp,...,deathtime,admission_type,admission_location,marital_status,ethnicity,gender,anchor_age,anchor_year,anchor_year_group,dod
0,28038802,2185-12-20 09:59:00,17.0,10.830303,107.0,5.560918,88.0,2.906367,36.555556,0.274986,...,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,M,71,2185,2008 - 2010,NaN
1,21790335,2140-03-11 13:44:00,13.0,1.923538,82.0,0.447214,92.0,2.167948,36.888889,NaN,...,NaN,URGENT,PHYSICIAN REFERRAL,MARRIED,UNABLE TO OBTAIN,F,34,2140,2008 - 2010,NaN
2,24357541,2177-02-10 14:00:00,0.0,7.120393,102.0,11.631239,94.0,2.000000,37.500000,NaN,...,NaN,URGENT,TRANSFER FROM HOSPITAL,MARRIED,WHITE,F,70,2176,2008 - 2010,NaN
3,22188993,2145-11-04 18:40:00,27.0,3.669696,72.0,0.726483,98.0,0.752773,37.388889,NaN,...,2145-11-09 17:30:00,EW EMER.,EMERGENCY ROOM,MARRIED,UNKNOWN,M,68,2145,2008 - 2010,NaN
4,21880799,2134-05-22 17:58:00,24.0,NaN,65.0,9.227289,100.0,0.000000,36.555556,NaN,...,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,HISPANIC/LATINO,M,52,2134,2008 - 2010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21640,29960248,2146-12-09 14:23:00,13.0,3.761299,64.5,1.863525,96.0,1.354006,37.055556,NaN,...,NaN,DIRECT EMER.,CLINIC REFERRAL,WIDOWED,WHITE,F,65,2146,2008 - 2010,NaN
21641,29962016,2135-10-30 11:45:00,17.0,12.378938,71.0,1.772811,100.0,0.000000,36.888889,NaN,...,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN,F,53,2131,2011 - 2013,NaN
21642,29974575,2131-03-03 19:54:00,21.0,296.433466,73.0,8.952254,100.0,1.549193,36.888889,NaN,...,NaN,EW EMER.,EMERGENCY ROOM,NaN,UNKNOWN,M,72,2131,2014 - 2016,NaN
21643,29987115,2148-02-19 10:00:00,12.0,7.949843,122.0,4.527693,99.0,0.547723,36.722222,NaN,...,2148-02-20 19:00:00,URGENT,TRANSFER FROM HOSPITAL,NaN,UNKNOWN,F,43,2148,2008 - 2010,NaN
21644,29995768,2178-05-17 21:57:00,20.0,9.497368,104.0,7.559289,99.0,2.714160,35.800000,0.115470,...,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,F,58,2178,2011 - 2013,NaN

In [63]:
#new_df.to_csv('all_feature_table.csv',index= False)