## Script to get clean feature table vefore passing to model

Cleaned feature table saved as 'clean_ft_table.csv'

#### import libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### get feature library

In [20]:
df = pd.read_csv('all_feature_table.csv')

In [27]:
df

,hadm_id,endtime_x,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,stdTemp,...,subject_id,admittime,deathtime,admission_type,admission_location,marital_status,ethnicity,gender,anchor_age,time_on_vent
0,28038802,2185-12-20 09:59:00,17.0,10.830303,107.0,5.560918,88.0,2.906367,36.555556,0.274986,...,18917458,2185-12-15 00:17:00,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,M,71,108.800000
1,21790335,2140-03-11 13:44:00,13.0,1.923538,82.0,0.447214,92.0,2.167948,36.888889,NaN,...,19704964,2140-03-09 14:44:00,NaN,URGENT,PHYSICIAN REFERRAL,MARRIED,UNABLE TO OBTAIN,F,34,33.000000
2,24357541,2177-02-10 14:00:00,0.0,7.120393,102.0,11.631239,94.0,2.000000,37.500000,NaN,...,19004463,2176-12-16 18:11:00,NaN,URGENT,TRANSFER FROM HOSPITAL,MARRIED,WHITE,F,70,659.416667
3,22188993,2145-11-04 18:40:00,27.0,3.669696,72.0,0.726483,98.0,0.752773,37.388889,NaN,...,11538389,2145-10-29 12:46:00,2145-11-09 17:30:00,EW EMER.,EMERGENCY ROOM,MARRIED,UNKNOWN,M,68,143.666667
4,21880799,2134-05-22 17:58:00,24.0,NaN,65.0,9.227289,100.0,0.000000,36.555556,NaN,...,16606203,2134-05-20 09:51:00,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,HISPANIC/LATINO,M,52,54.966667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21640,29960248,2146-12-09 14:23:00,13.0,3.761299,64.5,1.863525,96.0,1.354006,37.055556,NaN,...,16691924,2146-11-30 16:09:00,NaN,DIRECT EMER.,CLINIC REFERRAL,WIDOWED,WHITE,F,65,73.466667
21641,29962016,2135-10-30 11:45:00,17.0,12.378938,71.0,1.772811,100.0,0.000000,36.888889,NaN,...,16796371,2135-10-21 08:16:00,NaN,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN,F,53,218.083333
21642,29974575,2131-03-03 19:54:00,21.0,296.433466,73.0,8.952254,100.0,1.549193,36.888889,NaN,...,10020944,2131-02-27 15:34:00,NaN,EW EMER.,EMERGENCY ROOM,NaN,UNKNOWN,M,72,98.900000
21643,29987115,2148-02-19 10:00:00,12.0,7.949843,122.0,4.527693,99.0,0.547723,36.722222,NaN,...,19652570,2148-02-16 17:42:00,2148-02-20 19:00:00,URGENT,TRANSFER FROM HOSPITAL,NaN,UNKNOWN,F,43,44.000000
21644,29995768,2178-05-17 21:57:00,20.0,9.497368,104.0,7.559289,99.0,2.714160,35.800000,0.115470,...,19181803,2178-05-16 18:46:00,NaN,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,F,58,26.950000

#### drop columns that don't carry feature info

In [22]:
df.columns

Index(['hadm_id', 'endtime_x', 'spontRR', 'stdABP', 'meanABP', 'stdSpontRR',
       'pulseox', 'stdPulseox', 'temp', 'stdTemp', 'heartRate', 'stdHeartRate',
       'weight', 'height', 'time_on_vent', 're_intub_class', 'subject_id',
       'admittime', 'deathtime', 'admission_type', 'admission_location',
       'marital_status', 'ethnicity', 'gender', 'anchor_age'],
      dtype='object')

In [52]:
df.drop(['subject_id','admittime', 'deathtime','endtime_x'],axis=1,inplace=True)

#### select only patients that were intubated for longer than 6 hours 

To get rid of all the following warnings, sHould change this to the df.where df.copy together? https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#the-where-method-and-masking

In [71]:
df6 = df[(df['time_on_vent']>6)]

In [54]:
df6

,hadm_id,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,stdTemp,heartRate,...,weight,height,re_intub_class,admission_type,admission_location,marital_status,ethnicity,gender,anchor_age,time_on_vent
0,28038802,17.0,10.830303,107.0,5.560918,88.0,2.906367,36.555556,0.274986,87.0,...,228.800000,NaN,0,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,M,71,108.800000
1,21790335,13.0,1.923538,82.0,0.447214,92.0,2.167948,36.888889,NaN,78.0,...,176.000000,NaN,0,URGENT,PHYSICIAN REFERRAL,MARRIED,UNABLE TO OBTAIN,F,34,33.000000
2,24357541,0.0,7.120393,102.0,11.631239,94.0,2.000000,37.500000,NaN,127.0,...,167.400000,59.027559,0,URGENT,TRANSFER FROM HOSPITAL,MARRIED,WHITE,F,70,659.416667
3,22188993,27.0,3.669696,72.0,0.726483,98.0,0.752773,37.388889,NaN,95.0,...,NaN,74.007874,0,EW EMER.,EMERGENCY ROOM,MARRIED,UNKNOWN,M,68,143.666667
4,21880799,24.0,NaN,65.0,9.227289,100.0,0.000000,36.555556,NaN,100.0,...,NaN,66.070866,0,EW EMER.,EMERGENCY ROOM,MARRIED,HISPANIC/LATINO,M,52,54.966667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21640,29960248,13.0,3.761299,64.5,1.863525,96.0,1.354006,37.055556,NaN,94.0,...,139.000000,61.011811,1,DIRECT EMER.,CLINIC REFERRAL,WIDOWED,WHITE,F,65,73.466667
21641,29962016,17.0,12.378938,71.0,1.772811,100.0,0.000000,36.888889,NaN,80.0,...,160.600000,64.086614,1,EW EMER.,EMERGENCY ROOM,SINGLE,BLACK/AFRICAN AMERICAN,F,53,218.083333
21642,29974575,21.0,296.433466,73.0,8.952254,100.0,1.549193,36.888889,NaN,71.0,...,236.133333,70.039370,1,EW EMER.,EMERGENCY ROOM,NaN,UNKNOWN,M,72,98.900000
21643,29987115,12.0,7.949843,122.0,4.527693,99.0,0.547723,36.722222,NaN,88.0,...,147.400000,59.921260,1,URGENT,TRANSFER FROM HOSPITAL,NaN,UNKNOWN,F,43,44.000000
21644,29995768,20.0,9.497368,104.0,7.559289,99.0,2.714160,35.800000,0.115470,96.0,...,NaN,NaN,1,EW EMER.,EMERGENCY ROOM,MARRIED,WHITE,F,58,26.950000

In [72]:
df6.isnull().sum()

hadm_id                  0
spontRR                  1
stdABP                 117
meanABP                  1
stdSpontRR             111
pulseox                  1
stdPulseox             103
temp                    36
stdTemp               6618
heartRate                1
stdHeartRate            79
weight                1414
height                4085
re_intub_class           0
admission_type           0
admission_location       0
marital_status        1631
ethnicity                0
gender                   0
anchor_age               0
time_on_vent             0
dtype: int64

In [90]:
df6.dropna(subset = ['stdABP'],inplace=True)
df6.dropna(subset = ['stdSpontRR'],inplace=True)
df6.dropna(subset = ['temp'],inplace=True)
df6.dropna(subset = ['stdPulseox'],inplace=True)
df6.dropna(subset = ['stdHeartRate'],inplace=True)
df6.dropna(subset = ['weight'],inplace=True)
df6.dropna(subset = ['height'],inplace=True)

<ipython-input-90-1af08e167447>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['stdABP'],inplace=True)
<ipython-input-90-1af08e167447>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['stdSpontRR'],inplace=True)
<ipython-input-90-1af08e167447>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['temp'],inplace=True)
<ipython-input-90-1af08e167447>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['stdPulseox'],inplace=True)
<ipython-input-90-1af08e167447>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['stdHeartRate'],inplace=True)
<ipython-input-90-1af08e167447>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['weight'],inplace=True)
<ipython-input-90-1af08e167447>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.dropna(subset = ['height'],inplace=True)

In [96]:
df6.isnull().sum()

hadm_id               0
spontRR               0
stdABP                0
meanABP               0
stdSpontRR            0
pulseox               0
stdPulseox            0
temp                  0
heartRate             0
stdHeartRate          0
weight                0
height                0
re_intub_class        0
admission_type        0
admission_location    0
ethnicity             0
gender                0
anchor_age            0
time_on_vent          0
dtype: int64

In [94]:
df6.drop(['marital_status','stdTemp'],axis=1,inplace=True)

/home/anne_717/anaconda3/envs/insight/lib/python3.8/site-packages/pandas/core/frame.py:4160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [95]:
df6

,hadm_id,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,heartRate,stdHeartRate,weight,height,re_intub_class,admission_type,admission_location,ethnicity,gender,anchor_age,time_on_vent
2,24357541,0.0,7.120393,102.0,11.631239,94.0,2.000000,37.500000,127.0,7.314369,167.400000,59.027559,0,URGENT,TRANSFER FROM HOSPITAL,WHITE,F,70,659.416667
6,28691076,19.0,20.347548,62.0,3.718759,100.0,0.000000,36.444444,79.0,1.971222,123.200000,59.921260,0,EW EMER.,EMERGENCY ROOM,BLACK/AFRICAN AMERICAN,F,72,25.983333
7,23452785,33.0,6.350853,101.0,3.577709,96.0,1.788854,39.166667,122.0,13.771952,264.000000,70.933071,0,EW EMER.,EMERGENCY ROOM,WHITE,M,23,17.000000
8,27434217,24.0,6.418723,79.0,1.788854,96.0,1.673320,36.833333,63.0,4.324350,198.000000,61.905512,0,EW EMER.,EMERGENCY ROOM,WHITE,F,81,580.233333
11,26451703,15.0,4.505552,105.0,2.316607,100.0,0.577350,37.333333,80.0,3.633180,205.900000,61.905512,0,URGENT,TRANSFER FROM HOSPITAL,WHITE,F,65,170.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21638,29951431,22.0,5.902481,84.0,2.326094,100.0,0.000000,37.722222,75.0,3.352327,189.200000,70.039370,1,EW EMER.,EMERGENCY ROOM,WHITE,M,65,14.783333
21640,29960248,13.0,3.761299,64.5,1.863525,96.0,1.354006,37.055556,94.0,2.321398,139.000000,61.011811,1,DIRECT EMER.,CLINIC REFERRAL,WHITE,F,65,73.466667
21641,29962016,17.0,12.378938,71.0,1.772811,100.0,0.000000,36.888889,80.0,2.483277,160.600000,64.086614,1,EW EMER.,EMERGENCY ROOM,BLACK/AFRICAN AMERICAN,F,53,218.083333
21642,29974575,21.0,296.433466,73.0,8.952254,100.0,1.549193,36.888889,71.0,14.052283,236.133333,70.039370,1,EW EMER.,EMERGENCY ROOM,UNKNOWN,M,72,98.900000
21643,29987115,12.0,7.949843,122.0,4.527693,99.0,0.547723,36.722222,88.0,4.472136,147.400000,59.921260,1,URGENT,TRANSFER FROM HOSPITAL,UNKNOWN,F,43,44.000000

In [129]:
df6['admission_type'].value_counts()

EW EMER.                       5087
URGENT                         2737
SURGICAL SAME DAY ADMISSION    1521
OBSERVATION ADMIT              1099
ELECTIVE                        698
DIRECT EMER.                    496
Name: admission_type, dtype: int64

In [128]:
df6.drop(df6.loc[df6['admission_type']=='DIRECT OBSERVATION'].index, inplace=True)

In [130]:
adm_type=pd.get_dummies(df6['admission_type'],drop_first=True,prefix='adm_type')

don't include ethnicity in model (yet), also don't include admission location in model

In [102]:
df6['ethnicity'].value_counts()

WHITE                            7743
UNKNOWN                          1402
BLACK/AFRICAN AMERICAN           1023
OTHER                             553
HISPANIC/LATINO                   411
ASIAN                             298
UNABLE TO OBTAIN                  184
AMERICAN INDIAN/ALASKA NATIVE      26
Name: ethnicity, dtype: int64

In [113]:
#df6[(df6['ethnicity']=='UNABLE TO OBTAIN')&(df6['re_intub_class']==1)]

In [131]:
gender =pd.get_dummies(df6['gender'],drop_first=True,prefix = 'gender')

In [133]:
df_for_model = pd.concat([df6,adm_type,gender],axis=1)

In [136]:
df_for_model.drop(['hadm_id','admission_type','admission_location','ethnicity','gender'],axis=1,inplace=True)

In [137]:
df_for_model

,spontRR,stdABP,meanABP,stdSpontRR,pulseox,stdPulseox,temp,heartRate,stdHeartRate,weight,height,re_intub_class,anchor_age,time_on_vent,adm_type_ELECTIVE,adm_type_EW EMER.,adm_type_OBSERVATION ADMIT,adm_type_SURGICAL SAME DAY ADMISSION,adm_type_URGENT,gender_M
2,0.0,7.120393,102.0,11.631239,94.0,2.000000,37.500000,127.0,7.314369,167.400000,59.027559,0,70,659.416667,0,0,0,0,1,0
6,19.0,20.347548,62.0,3.718759,100.0,0.000000,36.444444,79.0,1.971222,123.200000,59.921260,0,72,25.983333,0,1,0,0,0,0
7,33.0,6.350853,101.0,3.577709,96.0,1.788854,39.166667,122.0,13.771952,264.000000,70.933071,0,23,17.000000,0,1,0,0,0,1
8,24.0,6.418723,79.0,1.788854,96.0,1.673320,36.833333,63.0,4.324350,198.000000,61.905512,0,81,580.233333,0,1,0,0,0,0
11,15.0,4.505552,105.0,2.316607,100.0,0.577350,37.333333,80.0,3.633180,205.900000,61.905512,0,65,170.000000,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21638,22.0,5.902481,84.0,2.326094,100.0,0.000000,37.722222,75.0,3.352327,189.200000,70.039370,1,65,14.783333,0,1,0,0,0,1
21640,13.0,3.761299,64.5,1.863525,96.0,1.354006,37.055556,94.0,2.321398,139.000000,61.011811,1,65,73.466667,0,0,0,0,0,0
21641,17.0,12.378938,71.0,1.772811,100.0,0.000000,36.888889,80.0,2.483277,160.600000,64.086614,1,53,218.083333,0,1,0,0,0,0
21642,21.0,296.433466,73.0,8.952254,100.0,1.549193,36.888889,71.0,14.052283,236.133333,70.039370,1,72,98.900000,0,1,0,0,0,1
21643,12.0,7.949843,122.0,4.527693,99.0,0.547723,36.722222,88.0,4.472136,147.400000,59.921260,1,43,44.000000,0,0,0,0,1,0

In [138]:
df_for_model.to_csv('clean_ft_table.csv',index=False)