## Use psycopg2 engine to extract charts events for patient data

This script connects to the patient database 'extumate' and extracts chart events for the labelled patients identified by the field, hadm_id, in the table 'sample_vents'.

The script utilizes the pandas chunksize argument in order to avoid memory issues.

Finally, the data is stored with using `pd.DataFrame.to_feather` so it can be stored for future processing.

#### import libraries

In [1]:
import sys
sys.path.append("../extumate")

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import psutil
import os

from extumate.config import data_dir, extumate_engine_url,pyscpg2_connection

#### Set user-defined variables

In [2]:
export_name = "sputem"
export_path = data_dir+export_name

# Queries to find size of table and approx. number of rows- replace 'chartevents' with name of table
size_query = "SELECT PG_RELATION_SIZE('chartevents');"
row_query = "SELECT reltuples FROM pg_class WHERE oid = 'chartevents'::regclass;"

#### Write sql query to find event data for ventilated patients (example for diagnoses table in markdown below)

Joins 'chartevents' with the 'sample_vents' table on the field hadm_id (so only pulling from patients who were ventilated), before selecting the type of event. Using the chartevents.itemid speeds up extraction of this data.

In [3]:
# looking for ventilated patients that have sputem events
sql_query = """

SELECT 
  chartevents.*,  
  sample_vents.endtime, sample_vents.re_intub_class,sample_vents.time_on_vent  
FROM
  chartevents
  INNER JOIN sample_vents ON chartevents.hadm_id = sample_vents.hadm_id
WHERE
  (
    (chartevents.itemid = 224369) OR 
    (chartevents.itemid = 224370) OR     
    (chartevents.itemid = 224372) OR     
    (chartevents.itemid = 224373)     
  );  
"""

sql_query = """
SELECT 
  diagnoses_icd.*,
  sample_vents.endtime, sample_vents.re_intub_class,sample_vents.time_on_vent
FROM
  diagnoses_icd
  INNER JOIN sample_vents ON diagnoses_icd.hadm_id = sample_vents.hadm_id
WHERE
  (
    (diagnoses_icd.icd_code LIKE 'J84%') OR
    (diagnoses_icd.icd_code LIKE 'I27%') OR
    (diagnoses_icd.icd_code LIKE 'E84%') OR
    (diagnoses_icd.icd_code LIKE '516.31%') OR
    (diagnoses_icd.icd_code LIKE '416.0%') OR
    (diagnoses_icd.icd_code LIKE '277%') 
  );
"""

#### Use sqlalchemy to create and connect to sql engine

In [5]:
engine = create_engine(extumate_engine_url)
print(engine.url)

postgresql://postgres:password@localhost:5432/extumate

#### Check engine is working by checking for 'sample_vents' table

In [6]:
engine.has_table('sample_vents')

True

#### Create psycopg2 connection

In [16]:
con = None
con = psycopg2.connect(pyscpg2_connection)

#### Figure out chunk size for pandas dataframe reading

- Finds size of table and number of rows in order to determine how many rows can be loaded into available memory (i.e. chunksize)

In [8]:
# Find size of table and number of rows
size_db = pd.read_sql_query(size_query,con)
size_table = size_db.loc[0]['pg_relation_size']
size_db = pd.read_sql_query(row_query,con)
num_rows = size_db.loc[0]['reltuples']

# Find available memory
svmem = psutil.virtual_memory()
#print (svmem.available/1000000000) #in Gigabytes 
available_memory = np.floor(svmem.available/1000000000)
#available_memory

# Work out chunksize
df_sample_size = size_table/num_rows
my_chunk = ((available_memory*1000000000) / df_sample_size)
my_chunk = int(my_chunk//1) # we get the integer part
print (my_chunk)

#### Query database and concatenate chunks

In [11]:
df_result = pd.read_sql_query(sql_query,con,chunksize=my_chunk)
df_result

In [12]:
concat_df = pd.concat(
    [chunk
    for chunk in df_result])

In [19]:
concat_df

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent
0,10004235,24181354,30276431,2196-02-25 00:00:00,2196-02-25 00:57:00,224369,Thin,None,None,0,2196-02-27 16:28:00,0,71.60000
1,10004235,24181354,30276431,2196-02-25 00:00:00,2196-02-25 00:57:00,224370,White,None,None,0,2196-02-27 16:28:00,0,71.60000
2,10004235,24181354,30276431,2196-02-25 00:00:00,2196-02-25 00:57:00,224372,Suctioned,None,None,0,2196-02-27 16:28:00,0,71.60000
3,10004235,24181354,30276431,2196-02-25 00:00:00,2196-02-25 00:57:00,224373,Scant,None,None,0,2196-02-27 16:28:00,0,71.60000
4,10004235,24181354,30276431,2196-02-25 07:00:00,2196-02-25 07:49:00,224369,Thin,None,None,0,2196-02-27 16:28:00,0,71.60000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972422,19999068,21606769,31096823,2161-08-28 09:00:00,2161-08-28 09:16:00,224372,Suctioned,None,None,0,2161-08-28 13:36:00,0,70.01667
972423,19999068,21606769,31096823,2161-08-28 09:00:00,2161-08-28 09:16:00,224373,Small,None,None,0,2161-08-28 13:36:00,0,70.01667
972424,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 11:47:00,224370,Yellow,None,None,0,2161-08-28 13:36:00,0,70.01667
972425,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 11:47:00,224372,Suctioned,None,None,0,2161-08-28 13:36:00,0,70.01667
972426,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 11:47:00,224373,Small,None,None,0,2161-08-28 13:36:00,0,70.01667

In [ ]:
concat_df[concat_df['re_intub_class']==1]

#### Feather dataframe for future processing

In [ ]:
#concat_df=concat_df[['hadm_id','seq_num','icd_code']]

In [ ]:
concat_df.to_feather(export_path)

In [ ]:
concat_df