## Use psycopg2 engine to extract charts events for patient data

This script connects to the patient database 'extumate' and extracts chart events for the labelled patients identified by the field, hadm_id, in the table 'sample_vents'.

The script utilizes the pandas chunksize argument in order to avoid memory issues.

Finally, the data is stored with using `pd.DataFrame.to_feather` so it can be stored for future processing.

In [1]:
import sys
sys.path.append("../extumate")

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import psutil
import os

from extumate.config import data_dir, extumate_engine_url

#### Set user-defined variables

In [2]:
data_dir

'../data/feathered/'

In [3]:
export_name = "heartrate"
#feather_folder = "../data/feathered/"
export_path = data_dir+export_name
export_path

'../data/feathered/heartrate'

#### Write sql query

In [4]:
sql_query = """
SELECT 
  chartevents.*,
  sample_vents.endtime, sample_vents.re_intub_class,sample_vents.time_on_vent
FROM
  chartevents
  INNER JOIN sample_vents ON chartevents.hadm_id = sample_vents.hadm_id
WHERE
  (
    chartevents.itemid = 220045
  );
"""

#### print virtual memory available

In [5]:
svmem = psutil.virtual_memory()
print (svmem.available) #in bytes

5215510528

#### print size of database we're pulling from

In [6]:
os.path.getsize('../data/raw/chartevents.csv')

29184776616

#### figure out chunk size for pandas dataframe reading

In [7]:
df_sample = pd.read_csv('../data/raw/chartevents.csv', nrows=10)
df_sample_size = df_sample.memory_usage(index=True).sum()
my_chunk = (2000000000 / df_sample_size)/10
my_chunk = int(my_chunk//1) # we get the integer part
print (my_chunk)

215517

In [8]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)

# Set your postgres username/password, and connection specifics

username = 'postgres'

password = 'password'    # change this

host     = 'localhost'

port     = '5432'            # default port that postgres listens on

db_name  = 'extumate'

#db_name  = 'birth_db'

In [9]:
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

postgresql://postgres:password@localhost:5432/extumate

#### Check engine is working by checking for 'sample_vents' table

In [10]:
engine.has_table('sample_vents')

True

#### Connect using psycopg2 connection and query the database. 

Joining 'chartevents' with the 'sample_vents' table on the field hadm_id (so only pulling from patients who were ventilated), before selecting the type of event using the chartevents.itemid speeds up extraction of this data.

In [11]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = db_name, user = username, host=host,password=password)

df_result = pd.read_sql_query(sql_query,con,chunksize=my_chunk)
df_result

In [12]:
concat_df = pd.concat(
    [chunk
    for chunk in df_result])

In [13]:
concat_df

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10004235,24181354,30276431,2196-02-24 18:00:00,2196-02-24 18:14:00,220045,124,124,bpm,0
1,10004235,24181354,30276431,2196-02-24 19:00:00,2196-02-24 19:43:00,220045,113,113,bpm,0
2,10004235,24181354,30276431,2196-02-24 20:00:00,2196-02-24 20:41:00,220045,105,105,bpm,0
3,10004235,24181354,30276431,2196-02-24 21:00:00,2196-02-24 21:04:00,220045,110,110,bpm,0
4,10004235,24181354,30276431,2196-02-24 22:00:00,2196-02-24 22:29:00,220045,104,104,bpm,0
...,...,...,...,...,...,...,...,...,...,...
35817,19999068,21606769,31096823,2161-08-30 21:00:00,2161-08-30 21:38:00,220045,88,88,bpm,0
35818,19999068,21606769,31096823,2161-08-24 18:00:00,2161-08-24 18:12:00,220045,101,101,bpm,0
35819,19999068,21606769,31096823,2161-08-24 19:01:00,2161-08-24 19:16:00,220045,128,128,bpm,0
35820,19999068,21606769,31096823,2161-08-24 20:00:00,2161-08-24 21:16:00,220045,91,91,bpm,0
35821,19999068,21606769,31096823,2161-08-24 21:00:00,2161-08-24 21:16:00,220045,87,87,bpm,0

In [14]:
##concat_df.to_sql('pulseox', engine, if_exists='replace',chunksize=my_chunk) ### very, very slow!

#### Feather dataframe for future processing

In [15]:
concat_df.reset_index(inplace=True)

In [16]:
concat_df.to_feather(export_path)